{% extends 'base.html' %}
{% block title %}good {{good.pk}}{% endblock %}
{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'good_add' %}">Add</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'good_update' good.pk %}">Edit</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'good_delete' good.pk %}">Delete</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'basket_view' good.pk %}">Add to basket</a>
    </li>
{% endblock %}
{% block content %}
    <h1>{{ good.description }}</h1>
    <h2>{{ good.detailed_description }}</h2>
<h3>Category</h3>
    {{ good.category }}
<h3>Remainder</h3>
    {{ good.remainder }}
<h3>Price</h3>
    {{ good.price }}
{% endblock %}