{% extends 'base.html' %}
{% load static %}
{% block title %}Goods page{% endblock %}
{% block content %}
<h1>Goods</h1>
</br>
</br>
     {% if is_paginated %}
         {% include 'partial/pagination.html' %}
     {% endif %}

    {% for good in goods %}
        <h3>{{ good.description }}</h3>
        <p>
            <a href='{% url "webapp:good_view" good.pk %}'>Show the good🔓</a>
            {% if perms.webapp.change_good %}
                <a href='{% url "webapp:good_update" good.pk %}'>Edit the good🌯</a>
            {% endif %}
            {% if perms.webapp.delete_good %}
                <a href='{% url "webapp:good_delete" good.pk %}'>Delete the good✂️</a>
            {% endif %}
            <a href="{% url 'webapp:good_add_to_cart' good.pk%}">Add to basket</a>
        </p>
    {% endfor %}

    {% if is_paginated %}
            {% include 'partial/pagination.html' %}
    {% endif %}

{% endblock %}